html
    font 12px Menlo
b = 1px
p = 4px
.func
    border b dotted
    padding p
.call
    border b solid
    padding p
    display inline-grid
    grid 'f x' 'r r'
    grid-gap p
    justify-items center
    align-items center
.f
    grid-area f
.x
    grid-area x
.r
    grid-area r
